<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
function getBigPizzaColumn(pizza)	{
    if(pizza.big_size)	{
        return	"";
    }
    else {
        return "none";    }

}
function getSmallPizzaColumn(pizza)	{
    if(pizza.small_size)	{
        return	"";
    }
    else {
        return "none";    }

}
%>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail ">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
            <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
            <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption">
            <div class="caption"><h3><%= pizza.title %></h3>
                <a class="kind"><%= pizza.type %></a>
                <div class="description">
                    <p><%= getIngredientsArray(pizza).join(", ") %></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display: <%=	getSmallPizzaColumn(pizza) %>;">
                <div class="size">

                </div>
                <div class="price">

                </div>
                <a href="#" class="btn btn-primary buy-small">Купити</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display: <%=	getBigPizzaColumn(pizza) %>;">
                <div class="size">

                </div>
                <div class="price">

                </div>
                <a href="#" class="btn btn-primary buy-big">Купити</a>
            </div>
        </div>
    </div>
</div>